In [78]:
import pandas as pd
datos = pd.read_csv("datos_control.csv")

new_datos = {"ID":[datos.index.size + 1], "Placa": "1234D", "Conductor": "Jair"}
nuevo_registro = pd.DataFrame(new_datos)
#datos.append(nuevo_registro)
datos

   ID   Placa  Conductor
0   1   1234A       Luis
1   2   4564B      David
2   3   1289X      Johan
3   4   5612G       José

In [79]:
nuevo_registro

   ID  Placa Conductor
0   5  1234D      Jair

In [81]:
datos.append(nuevo_registro)

   ID   Placa  Conductor  Placa Conductor
0   1   1234A       Luis    NaN       NaN
1   2   4564B      David    NaN       NaN
2   3   1289X      Johan    NaN       NaN
3   4   5612G       José    NaN       NaN
0   5     NaN        NaN  1234D      Jair